<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Start Bootstrap
            </a>
        </li>
        <li>
            <a href="/ssh">SSH</a>
        </li>
        <li>
            <a href="/aes">AES 256</a>
        </li>
        <li>
            <a href="file-comparator">FILE COMPARATOR</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->